
<app-modify-content (contentAdded)="onContentAdded($event)"></app-modify-content>

<div *ngFor="let content of contentArray; 
let first = first" class="content-card-container" [ngClass]="{'first': first}">
<app-content-card [content]="content"></app-content-card></div>

<h2>Search: </h2>
<mat-form-field appearance="fill">
    <input matInput type="text" name="title" [(ngModel)]="searchTitle" placeholder="Use me to search...">
</mat-form-field>
<button mat-button (click)="searchCard()">Submit</button>